<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.shop.provider.mapper.TbOrderMapper">
    <resultMap id="BaseResultMap" type="com.study.shop.provider.domain.TbOrder">
        <!--@mbg.generated generated on Thu Mar 19 22:02:59 GMT+08:00 2020.-->
        <!--@Table tb_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="pay_type" jdbcType="INTEGER" property="payType"/>
        <result column="payment" jdbcType="DOUBLE" property="payment"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="consign_time" jdbcType="TIMESTAMP" property="consignTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="shipping_name" jdbcType="VARCHAR" property="shippingName"/>
        <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode"/>
        <result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage"/>
        <result column="buyer_comment" jdbcType="BOOLEAN" property="buyerComment"/>
        <result column="buyer_name" jdbcType="VARCHAR" property="buyerName"/>
        <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone"/>
        <result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Thu Mar 19 22:02:59 GMT+08:00 2020.-->
        id, pay_type, payment, goods_id, group_id, `status`, create_time, user_id, payment_time,
        consign_time, end_time, shipping_name, shipping_code, buyer_message, buyer_comment,
        buyer_name, buyer_phone, buyer_address
    </sql>

    <resultMap id="getCheckByGroupIdMap" type="com.study.shop.provider.vo.CheckOrderVO">
        <!--@mbg.generated generated on Thu Mar 19 22:02:59 GMT+08:00 2020.-->
        <!--@Table tb_order-->
        <id column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="group_id" property="groupId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="consign_time" jdbcType="TIMESTAMP" property="consignTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="shipping_name" jdbcType="VARCHAR" property="shippingName"/>
        <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode"/>
        <result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage"/>
        <result column="buyer_comment" jdbcType="BOOLEAN" property="buyerComment"/>
        <result column="buyer_name" jdbcType="VARCHAR" property="buyerName"/>
        <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone"/>
        <result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress"/>
        <result column="seller_id" property="sellerId"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
    </resultMap>
    <select id="getCheckByGroupId" resultType="com.study.shop.provider.vo.CheckOrderVO"
            resultMap="getCheckByGroupIdMap">
        select
        torder.id, pay_type, payment, goods_id, group_id, torder.`status`, create_time, torder.user_id, payment_time,
        consign_time, end_time, shipping_name, shipping_code, buyer_message, buyer_comment,
        buyer_name, buyer_phone, buyer_address ,titem.title,titem.user_id as seller_id,titem.price
        from tb_order torder
        left join tb_item titem on torder.goods_id = titem.id
        where torder.group_id = #{groupId} and torder.user_id= #{userId}
    </select>
    <resultMap id="myOrder" type="com.study.shop.provider.dto.OrderListDTO">
        <!--@mbg.generated generated on Thu Mar 19 22:02:59 GMT+08:00 2020.-->
        <!--@Table tb_order-->
        <id column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="group_id" property="groupId"/>
        <result column="title" property="title"/>
        <result column="pay_type" jdbcType="INTEGER" property="payType"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="consign_time" jdbcType="TIMESTAMP" property="consignTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="shipping_name" jdbcType="VARCHAR" property="shippingName"/>
        <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode"/>
        <result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage"/>
        <result column="buyer_comment" jdbcType="BOOLEAN" property="buyerComment"/>
        <result column="buyer_name" jdbcType="VARCHAR" property="buyerName"/>
        <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone"/>
        <result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress"/>
        <result column="image" property="image"/>
    </resultMap>
    <select id="getMyOrder" resultMap="myOrder" resultType="com.study.shop.provider.dto.OrderListDTO">
        select
        torder.id, pay_type, payment, goods_id, group_id, torder.`status`, create_time, torder.user_id, payment_time,
        consign_time, end_time, shipping_name, shipping_code, buyer_message, buyer_comment,
        buyer_name, buyer_phone, buyer_address ,titem.image, titem.title
        from tb_order torder
        left join tb_item titem on torder.goods_id = titem.id
        order by create_time desc
    </select>
</mapper>
