<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.shop.provider.mapper.TbItemMapper">
    <resultMap id="BaseResultMap" type="com.study.shop.provider.domain.TbItem">
        <!--@mbg.generated-->
        <!--@Table tb_item-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="sell_point" jdbcType="VARCHAR" property="sellPoint"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="classification_id" jdbcType="BIGINT" property="classificationId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>

    <resultMap id="GoodsList" type="com.study.shop.provider.vo.GoodsVO">
        <!--@mbg.generated-->
        <!--@Table tb_item-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="sell_point" jdbcType="VARCHAR" property="sellPoint"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="classification_id" jdbcType="BIGINT" property="classificationId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <resultMap id="GoodDetail" type="com.study.shop.provider.vo.GoodDetailVO">
        <!--@mbg.generated-->
        <!--@Table tb_item-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="sell_point" jdbcType="VARCHAR" property="sellPoint"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="classification_id" jdbcType="BIGINT" property="classificationId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="item_desc" jdbcType="BIGINT" property="itemDesc"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, title, sell_point, price, image, classification_id, `status`, created, updated,
        user_id
    </sql>

    <select id="searchRecommend" resultType="java.lang.String">
        SELECT distinct `title` FROM `tb_item` where `title` like concat('%',#{input},'%')
    </select>

    <select id="getGoodList" resultType="com.study.shop.provider.vo.GoodsVO"
            parameterType="com.study.shop.provider.dto.GoodsSearchDTO" resultMap="GoodsList">
        SELECT
        ti.id, ti.title, ti.sell_point, ti.price, ti.image, ti.classification_id, ti.status, ti.created, ti.updated,
        ti.user_id,tu.nick_name,tu.address,tu.icon
        from `tb_item` as ti left join tb_user tu
        on ti.user_id = tu.id
        where ti.status = 1
        <if test="priceGt != null">
            and ti.price &gt;= #{priceGt}
        </if>
        <if test="priceLt != null">
            and ti.price &lt;= #{priceLt}
        </if>
        <if test="keyword != null and keyword != ''">
            and (ti.title like concat('%',#{keyword},'%') or ti.sell_point like concat('%',#{keyword},'%'))
        </if>
        <if test="classificationId != null">
            and ti.classification_id = #{classificationId}
        </if>
        <choose>
            <when test="sort != null">
                <if test="sort==1">
                    order by price asc
                </if>
                <if test="sort==-1">
                    order by price desc
                </if>
            </when>
            <otherwise>
                order by created desc
            </otherwise>
        </choose>
    </select>
    <select id="getGoodDetail" resultType="com.study.shop.provider.vo.GoodDetailVO" resultMap="GoodDetail">
        SELECT
        ti.id, ti.title, ti.sell_point, ti.price, ti.image, ti.classification_id, ti.status, ti.created, ti.updated,
        ti.user_id,td.item_desc,tu.nick_name,tu.icon,tu.address
        from `tb_item` as ti
        LEFT JOIN tb_item_desc td on ti.id=td.item_id
        LEFT JOIN tb_user tu on tu.id=ti.user_id
        where ti.id = #{goodId}
    </select>
    <select id="getCartDetail" resultMap="GoodsList">
        SELECT * from `tb_item` where id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getMyGoods" resultType="com.study.shop.provider.vo.GoodsVO"
            parameterType="com.study.shop.provider.dto.MyGoodsDTO" resultMap="GoodsList">
        SELECT ti.id, ti.title, ti.sell_point, ti.price, ti.image, ti.classification_id, ti.status, ti.created,
        ti.updated,
        ti.user_id, tu.nick_name, tu.id as buyerId,tu.icon
        from `tb_item` as ti
        left join tb_order t on ti.id = t.goods_id
        left join tb_user tu on t.user_id = tu.id
        where ti.user_id = #{userId}
        <if test="status!=-1">
            and ti.status=#{status}
        </if>
        <if test="keyword != null and keyword != ''">
            and (ti.title like concat('%',#{keyword},'%') or ti.sell_point like concat('%',#{keyword},'%'))
        </if>
        order by ti.created desc
    </select>
    <select id="getLogGoodDetail" resultType="com.study.shop.provider.vo.GoodDetailVO" resultMap="GoodDetail">
        SELECT
        ti.id, ti.title, ti.sell_point, ti.price, ti.image, ti.classification_id, ti.status, ti.created, ti.updated,
        ti.user_id,td.item_desc,tu.nick_name,tu.icon,tu.address
        from `tb_item` as ti
        LEFT JOIN tb_item_desc td on ti.id=td.item_id
        LEFT JOIN tb_user tu on tu.id=ti.user_id
        where ti.id = #{goodId}
    </select>
    <select id="adminGetGoodsList" resultType="com.study.shop.provider.vo.GoodsVO" resultMap="GoodsList">
        SELECT ti.id, ti.title, ti.sell_point, ti.price, ti.image, ti.classification_id, ti.status, ti.created,
        ti.updated,
        ti.user_id, tu.nick_name, tu.id as buyerId,tu.icon
        from `tb_item` as ti
        left join tb_order t on ti.id = t.goods_id
        left join tb_user tu on t.user_id = tu.id
        where 1=1
        <if test="status!=null and status!=-1">
            and ti.status=#{status}
        </if>
        <if test="cid != null and cid != ''">
            and ti.classification_id = #{cid}
        </if>
        <if test="keyword != null and keyword != ''">
            and (ti.title like concat('%',#{keyword},'%') or ti.sell_point like concat('%',#{keyword},'%') or
            tu.nick_name like concat('%',#{keyword},'%'))
        </if>
        <if test="startTime != null">
            and ti.created >= #{startTime}
        </if>
        <if test="endTime != null">
            and ti.created &lt;= #{endTime}
        </if>
        order by ti.created desc
    </select>
</mapper>
